// COLORS
$color-black: #000;
$color-white: #fff;
$color-primary: #252525;
$color-secondary: #42B983;
$color-dark-gray: #848585;

// SIZES
$size-wrapper-width: 144rem;
$size-container-width: 120rem;
$size-border-radius: 4px;